@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

// partial css
@import './partials/color';
@import './partials/nav';
@import './partials/home';
@import './partials/work';

// global style here
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	background: $Chinese-Black;
	text-transform: uppercase;
}

ul {
	display: flex;
	justify-content: space-between;
	li {
		list-style: none;
	}
}

a {
	text-decoration: none;
}

.container {
	margin: 0 1rem;
}

// text styling
h1,
h2,
h3 {
	color: $Sunny;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 18px;
	color: $Honeydew;
}

.p2 {
	font-size: 14px;
}

.stroke {
	color: transparent;
	-webkit-text-stroke: 2px $Sunny;
	letter-spacing: 6px;
}

.text-center {
	text-align: center;
}

// element styling
section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

button {
	padding: 0.8rem 1.2rem;
	border: none;
	outline: none;
	border-radius: 0.2rem;
	font-weight: 800;

	&.cta {
		background: $Sunny;
		color: $Chinese-Black;
		font-size: 14px;
	}
}

.body-link {
	color: inherit;
	text-decoration: underline;
}

// margin
.mb-1 {
	margin-bottom: 1rem;
}
.mb-2 {
	margin-bottom: 2rem;
}
.mb-3 {
	margin-bottom: 3rem;
}
.mb-4 {
	margin-bottom: 4rem;
}

// max-width
.max-width-1 {
	max-width: 300px;
}
