// primary color
$Midnight-Green: #045358;
$Water: hsl(182, 66%, 52%);
$black: hsl(0, 0%, 0%);
$Navajo-White: hsl(42, 100%, 83%);

// secondary color
$Midnight-Green-1: hsl(183, 91%, 38%);
$Water-1: hsl(182, 66%, 72%);
$black-1: hsl(0, 0%, 20%);
$Navajo-White-1: hsl(42, 100%, 63%);

// tertiary color
$Midnight-Green-2: hsl(183, 91%, 58%);
$Water-2: hsl(182, 66%, 92%);
$black-2: hsl(0, 0%, 40%);
$Navajo-White-2: hsl(42, 100%, 43%);
