@import './color';

header {
	// background-color: $Chinese-Black;
	background: $Deep-Moss-Green;
	position: sticky;
	top: 0;

	nav {
		display: flex;
		margin: 0 2rem;
		height: 8vh;
		align-items: center;

		.logo {
			flex: 2;
			font-size: 1.5rem;
			font-weight: 600;
		}

		.nav-link {
			flex: 1;
			display: none;
		}

		a {
			// color: $Water-2;
		}
	}
}
